.modal-box {
    width: 400px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal-title {
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .modal-button {
    background-color: #007bff; 
    color: white;
    margin-top: 16px;
  }
  
  .modal-button:hover {
    background-color: #0062cc;
  }
  
  .modal-button:active {
    background-color: #0056b3; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
  }

  .alert-danger {
    margin-top: 2rem;
    color: red;
  }

  .alert-success {
    margin-top: 2rem;
    color: rgb(4, 87, 4);
  }